<h1>Products</h1>
<h2>Below are the list of products on Rainforest</h2>

<% @products.each do |product| %>

	<h3><%= product.name %></h3>
	<p><%= product.description %></p>
	<p><strong>$<%= product.formatted_price %></strong></p>
<% end %>
